@model DeployerServices.Models.ViewModels.DebugViewModel

<h2>Debug view</h2>


<h2>Latest build</h2>
<table>
    <tr>
        <th>ProjectId</th>
        <th>ProjectName</th>
        <th>BuildStatus</th>
        <th>LastChangedBy</th>
        <th>BuildStarted</th>
        <th>BuildFinished</th>
        <th>Version</th>
    </tr>


    <tr>
        <td>@Model.LatestBuild.Id</td>
        <td>@Model.LatestFailedBuild.BuildConfig.ProjectName | @Model.LatestFailedBuild.BuildConfig.Name</td>

        <td>@Model.LatestBuild.Status</td>
        <td>
            @if (Model.LatestBuild.Changes.Change != null && Model.LatestBuild.Changes.Change.FirstOrDefault() != null)
            {

                @Model.LatestBuild.Changes.Change.FirstOrDefault().Username
            }
        </td>



        <td>@Model.LatestBuild.StartDate</td>
        <td>@Model.LatestBuild.FinishDate</td>
        <td>@Model.LatestBuild.Number</td>
    </tr>

</table>


<h2>Latest Failed build</h2>
<table>
    <tr>
        <th>ProjectId</th>
        <th>ProjectName</th>
        <th>BuildStatus</th>
        <th>LastChangedBy</th>
        <th>BuildStarted</th>
        <th>BuildFinished</th>
        <th>Version</th>
    </tr>


    <tr>
        <td>@Model.LatestFailedBuild.Id</td>
        <td>@Model.LatestFailedBuild.BuildConfig.ProjectName | @Model.LatestFailedBuild.BuildConfig.Name</td>
        <td>@Model.LatestFailedBuild.Status</td>
        <td>@Model.BuildDestroyer</td>

        <td>@Model.LatestFailedBuild.StartDate</td>
        <td>@Model.LatestFailedBuild.FinishDate</td>
        <td>@Model.LatestFailedBuild.Number</td>
    </tr>

</table>


<h2>TeamCity Builds</h2>

@if (Model.TeamCityBuilds != null)
{
    <table>
        <tr>
            <th>ProjectId</th>
            <th>ProjectName</th>
            <th>BuildStatus</th>
            <th>LastChangedBy</th>
            <th>BuildStarted</th>
            <th>BuildFinished</th>
            <th>Version</th>
        </tr>

        @foreach (var item in Model.TeamCityBuilds)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.BuildConfig.ProjectName | @item.BuildConfig.Name</td>

                <td>@item.Status</td>

                <td>
                    @if (item.Changes.Change != null && item.Changes.Change.FirstOrDefault() != null)
                    {

                        @item.Changes.Change.FirstOrDefault().Username
                    }
                </td>


                <td>@item.StartDate</td>
                <td>@item.FinishDate</td>
                <td>@item.Number</td>
            </tr>
        }
    </table>


}
else
{
    <p>Could not get Team City builds</p>
}


<h2>Octopus Projects</h2>

@if (Model.TeamCityBuilds != null)
{
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>ProjectGroupId</th>
            <th>LastModifiedBy</th>
        </tr>

        @foreach (var item in Model.OctopusProjects)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ProjectGroupId</td>
                <td>@item.LastModifiedBy</td>
            </tr>
        }
    </table>
}
else
{
    <p>Could not get Octopus projects</p>
}




